.credits {
  display: none;
}
 .social-icons {
   text-align: center;
 }
/*
.nivo-controlNav {
  display: none;
}*/

body {
  background-color: #CCC;
}

.footer_credit {
  background-color: #FF6666;
}

a {
  color: #FF6666;
}

#main-menu li a.active {
  border-bottom: 2px solid #FF6666;
}
